{% extends 'base.html.twig' %}


{# templates/cheval/nouveau.html.twig #}



{% block body %}
    <h1>Ajouter une Vente</h1>

    {{ form_start(form) }}
    {{ form_row(form.date_debut) }}
    {{ form_row(form.date_fin) }}
    
    {{ form_row(form.nom) }}
    {{ form_row(form.categorieDeVentes) }}
    
    

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}